<% content_for :page_title do %>
    <%= Spree.t(:custom_projects) %>
<% end %>

<% if @collection.any? %>
    <table class="table" id="listing_custom_projects">
      <thead>
      <tr data-hook="admin_custom_projects_index_headers">
        <th><%= t(:id) %></th>
        <th><%= Spree.t(:contact_name) %></th>
        <th><%= Spree.t(:image) %></th>
        <th data-hook="admin_custom_projects_index_header_actions" class="actions"></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |custom_project| %>
          <tr id="<%= spree_dom_id custom_project %>" data-hook="admin_custom_projects_index_rows" class="<%= cycle('odd', 'even') %>">
            <td class="id"><%= custom_project.id %></td>
            <td class="contact_name"><%= custom_project.contact_name %></td>
            <td class="image"><%= image_tag custom_project.image.url(:thumbnail) %></td>
            <td class="actions actions-2 text-right">
              <% #= link_to_edit(custom_project, :no_text => true) %>
              <%= link_to_with_icon('eye-open', nil, admin_custom_project_url(custom_project), {:name => 'View', :no_text => true, :class => 'btn btn-primary btn-sm'}) %>
              <%= link_to_delete(custom_project, :no_text => true) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div class="alert alert-info no-objects-found">
      <%= Spree.t(:no_resource_found, resource: Spree.t(:custom_projects)) %>.
    </div>
<% end %>
